.DS_Store
_build/
.mooncakes/
.moonagent/
example/hello-riscv64
.gitignore
example/rv-analyzer
example/a.out
example/log.txt
example/hello.s
example/main.dot
example/out.txt
.gitignore
example/output.s
tools/build/*
example/*.bin
example/*.elf
out/workbench.html
